/* Sign-up/Log-in */

.form-cont{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
     padding-left: 10%;
     width: 70%;
     left: 0;
     border-bottom-right-radius: 3rem;
     border-top-right-radius: 3rem;
     background-color: whitesmoke;
}
.form-cont h2{
     color: rgb(1, 13, 85);
     /* margin-left: 3rem; */
     font-size: 2rem;
}

input{
     margin: 0.5rem 0;
     height: 1.5vw;
     width: 50vw;
     /* background: pink; */
     padding: 1rem 2rem;
     border-radius: 2rem;
     border: none;
     background: white;
     transition: 250ms ease;
}
input:hover{
     background: rgb(255, 183, 88);
     transition: 250ms ease;
}
label{
     font-size: 1rem;
     margin-top: 0.5rem;
     padding-left: 1rem;
     color: rgb(1, 13, 85);
     display: block;
}

.sub-btn{
     display: flex;
     align-items: center;
     justify-content: center;
     height: 3rem;
     width: 6rem;
     /* padding: 1rem 0; */
     color: white;
     background: rgb(221, 0, 221);
     border-radius: 2rem;
     border: none;
     cursor: pointer;
     transition: 0.5s ease;
     /* margin: 1rem auto 0; */
     /* margin: 1rem 3rem; */
     /* display: none; */
}

.sub-btn:hover{
     transition: 0.6s ease;
     background: rgb(255, 25, 121);
}

.switch-auth{
     font-style: italic;
     font-size: 1rem;
     color: rgb(1, 13, 85);
     text-decoration: rgb(1, 13, 85) underline;
}
.switch-auth:hover{
     color: rgb(99, 92, 0);
     text-decoration: rgb(99, 92, 0) underline;
}


.go-back{
     display: flex;
     align-items: center;
     justify-content: center;
     height: 4rem;
     width: 4rem;
     font-size: 2rem;
     color: red;
     position: absolute;
     left: 4%;
     /* left: 3rem; */
     top: 2rem;
     transition: 0.5s ease;
}
.go-back:hover{
     border-radius: 50%;
     background: rgba(255, 0, 0, 0.281);
     color: black;
     transition: 0.5s ease;
}

/* Responsive design */

@media only screen and (max-width:600px){
     .form-cont{
          position: absolute;
          align-items: center;
          width: 100%;
          height: 85%;
          padding: 0;
          bottom: 0;
          border-bottom-right-radius: 0;
          border-top-left-radius: 3rem;
     }
     .form-cont h2{
          margin: 0;
     }

     input{
          /* margin: 0.5rem 0; */
          height: 1.5vw;
          width: 50vw;
     }
     label{
          font-size: 0.8rem;
          /* margin-top: 0.5rem; */
          padding-left: 1rem;
          color: rgb(1, 13, 85);
          display: block;
     }

     .sub-btn{
          margin: 1rem auto 0;
     }
     .go-back{
          color: white;
          left: 1.5rem;
          top: 1rem;
     }
}