/* Sign-up/Log-in */

.form-cont{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100%;
     /* height: fit-content; */
     /* background-color: pink; */
}
.form-cont h2{
     font-size: 2rem;
}

input{
     margin: 0.5rem 0;
     height: 1.5vw;
     width: 50vw;
     /* background: pink; */
     padding: 1rem 2rem;
     border-radius: 2rem;
     border: none;
}
label{
     font-size: 1.2rem;
     margin-top: 0.5rem;
     padding-left: 3rem;
     /* color: black; */
     display: block;
}
.continue-btn{
     height: 1.8vw;
     width: 6vw;
     margin: 1rem 1rem;
     padding: 0.9rem 1.2rem;
     display: inline;
     border-radius: 2rem;
     background: rgb(45, 136, 255);
     cursor: pointer;
     transition: 0.5s ease;
}
.continue-btn:hover{
     background: rgb(45, 255, 255);
     color: black;
     transition: 0.5s ease;
}

/* Pop-in elements */
label[name="lname"]{
     display: none;
}
label[name="email"]{
     display: none;
}
label[name="pwd"]{
     display: none;
}
label[name="cpwd"]{
     display: none;
}

input[name="lname"]{
     display: none;
}
input[name="email"]{
     display: none;
}
input[name="pwd"]{
     display: none;
}
input[name="cpwd"]{
     display: none;
} 

.email-next{
     display: none;
}
.pwd-next{
     display: none;
}
.cpwd-next{
     display: none;
}
.signup-next{
     display: none;
}
.login-next{
     display: none;
}

.sub-btn{
     display: flex;
     align-items: center;
     justify-content: center;
     height: 3rem;
     width: 6rem;
     color: white;
     background: rgb(221, 0, 221);
     border-radius: 2rem;
     border: none;
     cursor: pointer;
     transition: 0.5s ease;
     margin: 1rem auto 0;
     display: none;
}

.sub-btn:hover{
     transition: 0.6s ease;
     background: rgb(255, 25, 121);
}

.go-back{
     display: flex;
     align-items: center;
     justify-content: center;
     height: 4rem;
     width: 4rem;
     font-size: 2rem;
     color: red;
     position: absolute;
     left: 4rem;
     top: 4rem;
     /* background: transparent; */
     transition: 0.5s ease;
}
.go-back:hover{
     border-radius: 50%;
     background: rgba(255, 0, 0, 0.281);
     color: black;
     transition: 0.5s ease;
}