/* Index page*/

.welcome-sect{
     flex-direction: column;
     align-items: center;
     justify-content: center;
     /* color: white; */
}
.welcome-div{
     text-align: center;
     /* background: green; */
}
.w-text span{
     font-size: 3rem;
     font-weight: bold;
}

.starter{
     display: flex;
     align-items: center;
     /* background: pink; */
     height:8rem;
}
.start{
     border-radius: 3rem;
     background: #FF4A4A;
     animation: pulse 2s infinite ease-out;
     transition: 500ms ease;
}
.start:hover{
     transition: 500ms ease;
     background: #f73131;
}
.start a{
     padding: 1rem 2rem;
}
@keyframes pulse {
     0%{
          padding: 1rem 0;
          box-shadow: 0 0 5px 1px #FF4A4A;
     }
     50%{
          padding: 1.1rem 0.1rem;
          box-shadow: 0 0 20px 3px #FF4A4A;
     }
     100%{
          padding: 1rem 0;
          box-shadow: 0 0 5px 1px #FF4A4A;
     }
}

.skip{
     position: absolute;
     bottom: 3rem;
     right: 3rem;
     padding: 0.5rem 0;
     border-radius: 0;
     border-bottom: solid 2px #FBFF22;
     transition: 500ms ease;
}
.skip:hover{
     transition: 500ms ease;
     border-radius: 2rem;
     background: #FBFF22;
     color: black;
}
.skip a{
     padding: 0.5rem 1rem;
}